{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
   {% include 'head.html' %}
    <body>
 
 {% include 'navbar.html' %}
 
<div class="container-fluid">
	<div class="container one space">
		<div class="row">
		<h1 class="text-center"><u> Trending Now | Demand </u></h1><br><br>
			<div class="col-md-3">
				<div class="market text-center">
		 	 		<h4 class="text-center">Woolen Sweater</h4>
		 	 		<div class="text-center">
		 	 			<img src="{%static 'images/sweater1.jpg' %}" class="markThumb" alt="Woolen Sweater">
		 	 		</div>
		 	 		<li><strong>Demand: </strong>10 pcs/</li>
		 	 		<li><STRONG>Price: </STRONG><button type="button" class="btn btn-info"> <strong>Rs:4,000/</strong> </button></li>
		 	 		<strong>Company : Saili Silai Udhyog, Khumaltar,Lalitpur</strong>
		 	 		<br>
		 	 		<button type="button" class="btn btn-danger dang"> <a href="#"><strong>Contact Supplier</strong></a> </button>
		 	 	</div>
			</div>
			<div class="col-md-3">
				<div class="market text-center">
		 	 		<h4 class="text-center">Handmade Carpet</h4>
		 	 		<div class="text-center">
		 	 			<img src="{% static 'images/carpet.jpg' %}" class="markThumb" alt="Woolen Sweater">
		 	 		</div>
		 	 		<li><strong>Demand: </strong>10 pcs/</li>
		 	 		<li><STRONG>Price: </STRONG><button type="button" class="btn btn-info"> <strong>Rs:4,000/</strong> </button></li>
		 	 		<strong>Company : Saili Silai Udhyog, Khumaltar,Lalitpur</strong>
		 	 		<br>
		 	 		<button type="button" class="btn btn-danger dang"> <a href="#"><strong>Contact Supplier</strong></a> </button>
		 	 	</div>
			</div>
			<div class="col-md-3">
				<div class="market text-center">
		 	 		<h4 class="text-center">Woolen Sweater</h4>
		 	 		<div class="text-center">
		 	 			<img src="{% static 'images/sweater.jpg' %}" class="markThumb" alt="Woolen Sweater">
		 	 		</div>
		 	 		<li><strong>Demand: </strong>10 pcs/</li>
		 	 		<li><STRONG>Price: </STRONG><button type="button" class="btn btn-info"> <strong>Rs:4,000/</strong> </button></li>
		 	 		<strong>Company : Saili Silai Udhyog, Khumaltar,Lalitpur</strong>
		 	 		<br>
		 	 		<button type="button" class="btn btn-danger dang"> <a href="#"><strong>Contact Supplier</strong></a> </button>
		 	 	</div>
			</div>
			<div class="col-md-3">
				<div class="market text-center">
		 	 		<h4 class="text-center">Copper Pot | Homemade</h4>
		 	 		<div class="text-center">
		 	 			<img src="{% static 'images/pot.jpg' %}" class="markThumb" alt="Woolen Sweater">
		 	 		</div>
		 	 		<li><strong>Demand: </strong>10 pcs/</li>
		 	 		<li><STRONG>Price: </STRONG><button type="button" class="btn btn-info"> <strong>Rs:4,000/</strong> </button></li>
		 	 		<strong>Company : Saili Silai Udhyog, Khumaltar,Lalitpur</strong>
		 	 		<br>
		 	 		<button type="button" class="btn btn-danger dang"> <a href="#"><strong>Contact Supplier</strong></a> </button>
		 	 	</div>
			</div>
		</div>
		<div class="row space">
		
			<div class="col-md-3">
				<div class="market text-center">
		 	 		<h4 class="text-center">Mehendi Design | Products</h4>
		 	 		<div class="text-center">
		 	 			<img src="{% static 'images/mehendi.jpg' %}" class="markThumb" alt="Woolen Sweater">
		 	 		</div>
		 	 		<li><strong>Demand: </strong>10 pcs/</li>
		 	 		<li><STRONG>Price: </STRONG><button type="button" class="btn btn-info"> <strong>Rs:4,000/</strong> </button></li>
		 	 		<strong>Company : Saili Silai Udhyog, Khumaltar,Lalitpur</strong>
		 	 		<br>
		 	 		<button type="button" class="btn btn-danger dang"> <a href="#"><strong>Contact Supplier</strong></a> </button>
		 	 	</div>
			</div>
			<div class="col-md-3">
				<div class="market text-center">
		 	 		<h4 class="text-center">Handmade | Dolls</h4>
		 	 		<div class="text-center">
		 	 			<img src="{% static 'images/doll.jpg' %}" class="markThumb" alt="Woolen Sweater">
		 	 		</div>
		 	 		<li><strong>Demand: </strong>10 pcs/</li>
		 	 		<li><STRONG>Price: </STRONG><button type="button" class="btn btn-info"> <strong>Rs:4,000/</strong> </button></li>
		 	 		<strong>Company : Saili Silai Udhyog, Khumaltar,Lalitpur</strong>
		 	 		<br>
		 	 		<button type="button" class="btn btn-danger dang"> <a href="#"><strong>Contact Supplier</strong></a> </button>
		 	 	</div>
			</div>
			<div class="col-md-3">
				<div class="market text-center">
		 	 		<h4 class="text-center">Painting | Tangka</h4>
		 	 		<div class="text-center">
		 	 			<img src="{% static 'images/tankha.jpg' %}" class="markThumb" alt="Woolen Sweater">
		 	 		</div>
		 	 		<li><strong>Demand: </strong>10 pcs/</li>
		 	 		<li><STRONG>Price: </STRONG><button type="button" class="btn btn-info"> <strong>Rs:4,000/</strong> </button></li>
		 	 		<strong>Company : Saili Silai Udhyog, Khumaltar,Lalitpur</strong>
		 	 		<br>
		 	 		<button type="button" class="btn btn-danger dang"> <a href="#"><strong>Contact Supplier</strong></a> </button>
		 	 	</div>
			</div>
			<div class="col-md-3">
				<div class="market text-center">
		 	 		<h4 class="text-center">Handmade Utensils</h4>
		 	 		<div class="text-center">
		 	 			<img src="{% static 'images/handmadeutensils.jpg' %}" class="markThumb" alt="Woolen Sweater">
		 	 		</div>
		 	 		<li><strong>Demand: </strong>10 set/</li>
		 	 		<li><STRONG>Price: </STRONG><button type="button" class="btn btn-info"> <strong>Rs:4,000/</strong> </button></li>
		 	 		<strong>Company : Saili Silai Udhyog, Khumaltar,Lalitpur</strong>
		 	 		<br>
		 	 		<button type="button" class="btn btn-danger dang"> <a href="#"><strong>Contact Supplier</strong></a> </button>
		 	 	</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid space">
	<div class="container one space">
		<div class="row">
		<h1 class="text-center"><u> Handmade Industry </u></h1><br><br>
			<div class="col-md-4">
				<div class="market text-center">
		 	 		<h4 class="text-center">Woolen Sweater</h4>
		 	 		<div class="text-center">
		 	 			<img src="{% static 'images/sweater1.jpg' %}" class="markThumb" alt="Woolen Sweater">
		 	 		</div>
		 	 		<li><strong>Demand: </strong>10 pcs/</li>
		 	 		<li><STRONG>Price: </STRONG><button type="button" class="btn btn-info"> <strong>Rs:4,000/</strong> </button></li>
		 	 		<strong>Company : Saili Silai Udhyog, Khumaltar,Lalitpur</strong>
		 	 		<br>
		 	 		<button type="button" class="btn btn-danger dang"> <a href="#"><strong>Contact Supplier</strong></a> </button>
		 	 	</div>
			</div>
			<div class="col-md-4">
				<div class="market text-center">
		 	 		<h4 class="text-center">Handmade Carpet</h4>
		 	 		<div class="text-center">
		 	 			<img src="{% static 'images/carpet.jpg' %}" class="markThumb" alt="Woolen Sweater">
		 	 		</div>
		 	 		<li><strong>Demand: </strong>10 pcs/</li>
		 	 		<li><STRONG>Price: </STRONG><button type="button" class="btn btn-info"> <strong>Rs:4,000/</strong> </button></li>
		 	 		<strong>Company : Saili Silai Udhyog, Khumaltar,Lalitpur</strong>
		 	 		<br>
		 	 		<button type="button" class="btn btn-danger dang"> <a href="#"><strong>Contact Supplier</strong></a> </button>
		 	 	</div>
			</div>
			<div class="col-md-4">
				<div class="market text-center">
		 	 		<h4 class="text-center">Copper Pot | Homemade</h4>
		 	 		<div class="text-center">
		 	 			<img src="{% static 'images/pot.jpg' %}" class="markThumb" alt="Woolen Sweater">
		 	 		</div>
		 	 		<li><strong>Demand: </strong>10 pcs/</li>
		 	 		<li><STRONG>Price: </STRONG><button type="button" class="btn btn-info"> <strong>Rs:4,000/</strong> </button></li>
		 	 		<strong>Company : Saili Silai Udhyog, Khumaltar,Lalitpur</strong>
		 	 		<br>
		 	 		<button type="button" class="btn btn-danger dang"> <a href="#"><strong>Contact Supplier</strong></a> </button>
		 	 	</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid space two">
	
	<div class="container one">
	<h1 class="text-center"><u> Sell Your Product Here | Free Promotion </u></h1><br><br>
		<div class="row ">
			<div class="col-md-2">
				
			</div>	
			<div class="col-md-8">
				<form class="form-horizontal well">
  
  <div class="form-group text-center"> 
    <div>
      <a href= "{% url 'supplier-form' %}"<button type="submit" class="btn btn-warning"><strong>Click Here</strong></button></a>
    </div>
  </div>
</form>
			</div>
			<div class="col-md-2">
				
			</div>
		</div>
	</div>
</div>
<div class="container-fluid space">
	
	<div class="container one text-container ">
	<h1 class="text-center"><u> FIND MORE CUSTOMERS; GLOBALLY </u></h1><br>
	<h4>NepBay with its innovative marketing tools helps you reach just over a billion people worldwide.</h4>
	<a href="#">Start Selling</a>
	</div>
</div>
<div class="container-fluid space one">
	<div class="container ">
	<h1 class="text-center"><u>FEATURED SELLERS</u></h1><br><br>
		<div class="row">
			<div class="col-md-3 ">
				<img src="{% static 'images/mark.jpg' %}" class="img-thumbnail">
			</div>
			<div class="col-md-3">
				<img src="{% static 'images/mark1.jpg' %}" class="img-thumbnail">
			</div>
			<div class="col-md-3">
				<img src="{% static 'images/mark2.jpg' %}" class="img-thumbnail">
			</div>
			<div class="col-md-3">
				<img src="{% static 'images/mark3.jpg' %}" class="img-thumbnail">
			</div>
		</div>
		<div class="row">
		<div class="col-md-3">
				<img src="{%static 'images/mark3.jpg' %}" class="img-thumbnail">
			</div>
			<div class="col-md-3">
				<img src="{%static 'images/mark2.jpg' %}" class="img-thumbnail">
			</div>			
			<div class="col-md-3">
				<img src="{% static 'images/mark1.jpg' %}" class="img-thumbnail">
			</div>
			<div class="col-md-3 ">
				<img src="{% static 'images/mark.jpg' %}" class="img-thumbnail">
			</div>
			
		</div>
	</div>
</div>
{% include 'footer.html' %}
</body>
</html>