{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
   {% include 'head.html' %}
    <body>
 
       
 {% include 'navbar.html' %}



   


<div class="container-fluid space one">
	 <div class="container">
	 	<h1 class="text-center"><u> PROJECTS</u></h1><br>
		<h2 class="text-center">The Place to start with</h2><br>
		 	<div class="row">
				<div class="col-md-4">
					<div class="phome text-center">
						<h2>Knitting & Stiching</h2>
						<img src="{% static 'images/knitting.jpg' %}" class="img-rounded proj" ><br>
						<a href="{% url 'knitting' %}"><button class="btn 	btn-success"><strong><b>View Details</b></strong></button></a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="phome text-center">
						<h2>Art & Painting</h2>
						<img src="{% static 'images/tankha.jpg' %}" class="img-rounded proj" ><br>
						<a href="project-knitting.html"><button class="btn 	btn-success"><strong><b>View Details</b></strong></button></a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="phome text-center">
						<h2>Stone Sculpture</h2>
						<img src="{% static 'images/18.jpg' %}" class="img-rounded proj" ><br>
						<a href="project-knitting.html"><button class="btn 	btn-success"><strong><b>View Details</b></strong></button></a>
					</div>
				</div>
			</div><br><br>
			<div class="container space one text-container ">
	<h1 class="text-center"><u> CHOICE IS ALL YOU NEED TO DO </u></h1><br>
	<h4>it's not late to start. Start your own business and achieve success.	</h4><br>

	</div><br><br>

			<div class="row">
				<div class="col-md-4">
					<div class="phome text-center">
						<h2>Ceramics Design</h2>
						<img src="{% static 'images/ceramic.jpg' %}" class="img-rounded proj" ><br>
						<a href="project-knitting.html"><button class="btn 	btn-success"><strong><b>View Details</b></strong></button></a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="phome text-center">
						<h2>Mehendi Design</h2>
						<img src="{% static 'images/mehendi.jpg' %}" class="img-rounded proj" ><br>
						<a href="project-knitting.html"><button class="btn 	btn-success"><strong><b>View Details</b></strong></button></a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="phome text-center">
						<h2>Wood Crafts</h2>
						<img src="{% static 'images/handmadeutensils.jpg' %}" class="img-rounded proj" ><br>
						<a href="project-knitting.html"><button class="btn 	btn-success"><strong><b>View Details</b></strong></button></a>
					</div>
				</div>
			</div><br><br>
			<div class="row">
				<div class="col-md-4">
					<div class="phome text-center">
						<h2>Hnadmade Utensils</h2>
						<img src="{% static 'images/pot.jpg' %}" class="img-rounded proj" ><br>
						<a href="project-knitting.html"><button class="btn 	btn-success"><strong><b>View Details</b></strong></button></a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="phome text-center">
						<h2>Lunch Box</h2>
						<img src="{% static 'images/Lunchbox.jpg' %}" class="img-rounded proj" ><br>
						<a href="project-knitting.html"><button class="btn 	btn-success"><strong><b>View Details</b></strong></button></a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="phome text-center">
						<h2>Crafts | Dolls</h2>
						<img src="{% static 'images/doll.jpg' %}" class="img-rounded proj" ><br>
						<a href="project-knitting.html"><button class="btn 	btn-success"><strong><b>View Details</b></strong></button></a>
					</div>
				</div>
			</div><br><br>
	 </div>
</div>
<div class="container-fluid height space pebbless text-center"><br><br>
	<h1 ><img src="{% static 'images/quote.png' %}" class="quote">Remember, you will always fail in business if you don't try to open your own business"</h1>
	<h2>-Amit Kalantri</h2><br>
</div>

</li>
</ul>
</div>
</nav>
</div>
</div>
</div>
</div>
</header>
</body>
{% include 'footer.html' %}
</html>