{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
   {% include 'head.html' %}
    <body>
 
     
 {% include 'navbar.html' %}


<div class="container-fluid height space pebbles"><br><br>
	<h1 class="text-center"><img src="{% static 'images/quote.png' %}" class="quote">One of The Greatest You Can Give is Your Time!</h1><br>
</div>
<div class="container-fluid one space">

	<div class="container vol">
	<h1 class="text-center"><u>Our 	Volunteer</u></h1><br>
		<div class="row text-center" >
			 <div class="col-md-3">
			 	<img src="{% static 'images/volunteer.jpg' %}" class="volunteer" >
			 	<h3><b>Ram Sapkota</b></h3>
			 	<h4><b>C.E.O, <br>Summiters For Change</b></h4>
			 </div>
			 <div class="col-md-3">
			 	<img src="{% static 'images/volunteer1.jpg' %}" class="volunteer">
			 	<h3><b>Ram Sapkota</b></h3>
			 	<h4><b>C.E.O, <br>Summiters For Change</b></h4>
			 </div>
			 <div class="col-md-3">
			 	<img src="{% static 'images/volunteer2.jpg' %}" class="volunteer">
			 	<h3><b>Ram Sapkota</b></h3>
			 	<h4><b>C.E.O, <br>Summiters For Change</b></h4>
			 </div>
			 <div class="col-md-3">
			 	<img src="{% static 'images/volunteer3.jpg' %}" class="volunteer">
			 	<h3><b>Ram Sapkota</b></h3>
			 	<h4><b>C.E.O, <br>Summiters For Change</b></h4><br><br>
			 </div>
			 <button type="button" class="btn btn-danger text-center">View More</button>
		</div>

	</div>
</div>
<div class="container-fluid space">
	
	<div class="container one text-container ">
	<h1 class="text-center"><u> DONATE THE NEEDY ONE </u></h1><br>
	<h4>NepBay with its innovative marketing tools helps you reach just over a billion people worldwide.</h4>

	</div>
</div>
<div class="container-fluid space two">
	<div class="container">
	<h1 class="text-center"><u>MAke a Donation Now!</u></h1><br><br><br>
		<div class="row">
			<div class="col-md-6">
				<img src="{% static 'images/donate.jpg' %}" class="donateimage">
			</div><br><br><br><br>
			<div class="col-md-6 one text-center">
			<br><br>
			<span>	<button class="donate">100 $ </button></span><span>	<button class="donate"> 100 $  </button></span><span>	<button class="donate"> 100 $  </button></span><span>	<button class="donate"> 100 $  </button></span><span>	<button class="donate"> 100 $  </button></span><span>	<button class="donate"> 100 $  </button></span><br><br>
			
				<form class="form-horizontal ">
<div class="form-group">
    <label class="control-label col-sm-2" for="email">Name:</label>
    <div class="col-sm-10">
      <input type="name" class="form-control" id="name" placeholder="Enter Name">
    </div>
  </div>			
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Email:</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Category:</label>
    <div class="col-sm-10">
      <select class="form-control" id="exampleSelect1">
      <option>Knitting & Stiching</option>
      <option>Paintings</option>
      <option>Handmade Tools</option>
      <option>Wood Carving</option>
      <option>Stone Sculpture</option>
      <option>Ornament Design</option>
      <option>Statue Sculpture</option>
      <option>Handmade Paper Prosucts</option>
      <option>Mask & Dolls | Handmade </option>
      <option>Animal Husbandry</option>
      <option>Ceramics Prosucts</option>
      <option>Decorati</option>
    </select>
    </div>
  </div>


  
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Password:</label>
    <div class="col-sm-10"> 
      <input type="password" class="form-control" id="pwd" placeholder="Enter password">
    </div>
  </div>
  

      <button type="submit" class="btn btn-danger">Submit</button><span> <img src="{% static 'images/paypal.png' %}"> 
       <img src="{% static 'images/master-card.png' %}"> 
        <img src="{% static 'images/visa.png' %}"> 
         <img src="{% static 'images/discover.png' %}"> 
         <img src="{% static 'images/american-express.png' %}"> </span><br><br>

</form>				
			</div>

		</div>
	</div>
</div>
<div class="container-fluid space one">
	<div class="container vv">
	<h1 class="text-center"><u>RECENT TOP  DONATORS</u></h1> <br><br><br>
		<div class="row text-center" >
			 
			 <div class="col-md-3">
			 	<img src="{% static 'images/volunteer1.jpg' %}" class="volunteerr">
			 	<h3><b>Kalpana Regmi</b></h3>
			 	<h4>Donated : $10000/-</h4>
			 </div>
			 <div class="col-md-3">
			 	<img src="{% static 'images/volunteer.jpg' %}" class="volunteerr" >
			 	<h3><b>Binod Regmi</b></h3>
			 	<h4>Donated : $10000/-</h4>
			 </div>
			 <div class="col-md-3">
			 	<img src="{% static 'images/volunteer2.jpg' %}" class="volunteerr">
			 	<h3><b>Mina Regmi</b></h3>
			 	<h4>Donated : $10000/-</h4>
			 </div>
			 <div class="col-md-3">
			 	<img src="{% static 'images/volunteer3.jpg' %}" class="volunteerr">
			 	<h3><b>Arjun Regmi</b></h3>
			 	<h4>Donated : $10000/-</h4>
			 	
			 	<br><br>
			 </div>
			 <button type="button" class="btn btn-danger text-center">View More</button>
		</div>
	</div>
</div>
<div class="container-fluid height space pebbless text-center"><br><br>
	<h1 ><img src="{% static 'images/quote.png' %}" class="quote">Volunteers do not necessarily have the time; they just have the heart.”</h1>
	<h2>-Elizabeth Andrew</h2><br>
</div>

<div class="container-fluid space two">
	<div class="container">
	<h1 class="text-center"><u>OUR TOP PARTNER</u></h1> <br><br>
		<div class="row">
			<div class="col-md-3">
				<img src="{% static 'images/part.jpg' %}">
			</div>
			<div class="col-md-3">
				<img src="{% static 'images/part1.jpg' %}">
			</div>
			<div class="col-md-3">
				<img src="{% static 'images/part2.jpg' %}">
			</div>
			<div class="col-md-3">
				<img src="{% static 'images/part3.jpg' %}">
			</div>
			
		</div>
	</div>
</div>
</li>
</ul>
</div>
</nav>
</div>
</div>
</div>
</div>
</header>
{% include 'footer.html' %}
</body>
</html>
    